table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem;
}

thead > tr {
  background-color: black;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: rgb(156, 220, 255);
}

tbody > tr:nth-child(even) {
  background-color: rgb(61, 187, 254);
}

.footer {
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 2rem;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
